/node_modules
/public/hot
# /public/storage
# /storage/*.key
# /storage/
# /bootstrap/
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
composer.lock
/public/uploads
*.DS_Store
/public/vendor
.arcconfig
.gitignore.save
package-lock.json
composer.lock

